# node
node_modules/
.node*

# ethereum
geth/
keystore/

# cpp
build/
cmake-build-debug

# IDEs
.idea/
*.ipr
*.iml
*.iws
.vscode

# BC files
*.bc
md5-*

# Rust specific files
**/target/debug
**/target/release
**/*.rs.bk

# Cache files
*~
